[Desktop Entry]
Name=Software Sources
GenericName=Software Sources
Comment=Easily manage PPA
Categories=System;
Exec=repoman
Icon=software-properties
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=repoman
Keywords=Python;
# Uncomment to hide Repoman from the launcher
#NoDisplay=true