[Desktop Entry]
Name=Repoman
GenericName=Repoman
Comment=Easily manage PPA
Categories=System;
Exec=repoman
Icon=software-properties
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=repoman
Keywords=Python;
